*{
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --azul:#5850FE;
    --verde:#38AE59;
    --branco:#F1F7FC;
  
  }

.calculadora{
    margin-top: 90px;
    min-height: 100% ;
}

.calculadora  .box{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(16rem, 3fr));
    grid-template-rows:repeat(auto-fit, minmax(16rem, 5)) ; */
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    
}

.calculadora  .boxbox{
    margin: 5px auto;
    width: 90%;
    background-color: #DFE2FF;
    outline: 3px solid #5850FE;
    border-radius: 20px;
}

.calculadora  .box .inputs {
    margin: 8% 20% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.calculadora  .box .inputs p{
    font-size: 2rem;
    font-family: Montserrat, san serif;
    font-weight: 500;
    color: #525252;
    padding-left: 3%;
}

.calculadora  .box .inputs input{
    font-family: Montserrat, san serif;
    font-size: 1.6rem;
    border-radius: 8px;
    padding: 8px;      
}



.calculadora  .box .inputs input::placeholder{
    font-size: 1.5rem;
    font-family: Montserrat, san serif;
    font-weight: 400;
    opacity: 0.4;
    
}

.calculadora  .box .inputs .input-group-text{
    background-color: #ffff;
    font-family: Montserrat, san serif;
    font-weight: 600;
    color: #878787;
    font-size: 2.2rem;
    border-radius: 8px 0 0 8px;
    outline: #5850FE;
    border: 2px solid #38AE59;
    

}

.calculadora  .box .inputs input:focus{
    border-color: #38AE59;

}


.calculadora  .botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 30%;
    gap: 9%;
    text-align: center;
}

.calculadora  .botoes .button{
    display: flex;
    justify-content: center;
    text-align: center;

}

.calculadora  .botoes button{
    text-align: center;
    padding: 2% 5% ;
    font-family: Montserrat, san serif;
    font-weight: 600;
    font-size: 2.4rem;
    box-shadow: -3px 4px  4px  rgba(0, 0, 0, 0.287);
    transition: 0.2s;
}

.calculadora  .botoes button:hover{
    box-shadow: -1px 1px  0px  rgba(0, 0, 0, 0.287);
    transform: scale(0.97);
}

.calculadora  .botoes .btn-primary {
    background-color: #5850FE;
}


@media (max-width:1024px){

    .calculadora  .titulo  h2{
        font-size: 4rem;
    }

    .calculadora  .box{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .calculadora  .box .inputs p{
        font-size: 1.8rem;
        
    }

    .calculadora  .box .inputs input{
        font-size: 1.3rem;
    }

    .calculadora  .box .inputs input::placeholder{
        font-size: 1.3rem;
        
    }

    .calculadora  .box .inputs .input-group-text{
        
        font-size: 1.7rem;
    }

    .calculadora  .botoes{
        padding: 2% 10%;
        gap: 10%;
        
    }

    
    .calculadora  .botoes button{
        padding: 2% 5% ;
        font-size: 1.8rem;
        
    }
    
}

@media (max-width:631px){

    .calculadora  .titulo  h2{
        font-size: 3.4rem;
    }

    .calculadora  .box{
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px  0;  
    }
    


    .calculadora  .box .inputs {
        margin: 5% 10% ;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .calculadora  .box .inputs input{
        font-size: 1.4rem;
    }

    .calculadora  .box .inputs p{
        font-size: 1.8rem;
        
    }

    .calculadora  .box .inputs input::placeholder{
        font-size: 1.2rem;
        
    }

    .calculadora  .box .inputs .input-group-text{
        
        font-size: 1.8rem;
        
        
    
    }

    .calculadora  .botoes{
        padding: 2% 10%;
        gap: 5%;
        
    }

    
    .calculadora  .botoes button{
        padding: 2% 5% ;
        font-size: 1.8rem;
        
    }
    
}







