body{
    overflow-x: hidden;
    overflow-y: hidden;
    
}

#green{
    color: #38AE59;
}

#blue{
    color: #5850FE;
}

.ferramentas{
    padding-bottom: 5%;
}




.ferramentas .container-box{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
    gap: 3.5rem;
    padding: 50px;
    margin: 0px 80px 0 80px;
    outline: 3px solid #38AE59;
    padding: 5% 0 3% 0;
    margin: 0 10%;
    border-radius: 20px;

}

.ferramentas .container-box .box{

    background-image:linear-gradient(#5850FE, #38AE59);
    border-radius: 20px;
  width: 300px;
  height: 230px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -10px 10px 8px rgba(0, 0, 0, 0.137);
  transition: 0.2s;
}

.ferramentas .container-box .texto{
    font-family: 'Public Sans';
    font-size: 2.8rem;
    width: 300px;
    text-align: center;
    padding: 20px 0;
    color: #5850FE;
}

.ferramentas .container-box .box .bg{
    background-color: #38AE59;
}

.ferramentas .container-box .boxEtexto{
 display: grid;
 justify-content: center;
 
}

.ferramentas .container-box a{
    text-decoration: none;
    transition: 0.2s;
}

.ferramentas .container-box a:hover .box{
    transform: scale(0.95);
    box-shadow: -1px 2px 8px rgba(0, 0, 0, 0.137);

}















@media (max-width:660px){

    .ferramentas .container-box .box{

      margin-left: 20%;  
      justify-content: center;  
      width: 180px;
      height: 170px;
      padding: 0px;
    }

    .ferramentas .container-box .boxEtexto{
        display: grid;
        justify-content: center;
        align-content: center;
       }

       .ferramentas .container-box .boxEtexto .texto{

        font-size: 26px;
       }

    .ferramentas .container-box .box .img img{
        width: 120px;
    }



   

}

@media (max-width:425px){

    .ferramentas .container-box .box{

      margin-left: 25%;  
      justify-content: center;  
      width: 150px;
      height: 120px;
      padding: 0px;
    }

    .ferramentas .container-box .boxEtexto{
        justify-content: center;
        align-content: center;
       }

    .ferramentas .container-box .boxEtexto .texto{

        font-size: 20px;
       }
       

    .ferramentas .container-box .box .img img{
        width: 90px;
    }


    .ferramentas .container-box{
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    }

   

}