.Background{
    width: 100%;
}

/* p{
    display: flex;
    flex-wrap: wrap;
} */

#principal{
    flex: 1;
}

#title{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 131px;
    line-height: 120px;
    margin-left: 10%;
    position: relative;
    justify-content: space-between;
    /* display: content; */
    width: 550px;
    
}

#calculator,
#sack{
    font-size: 94px;
    padding-bottom: 13px;
    margin-left: -20px;
}

#green{
    color: #38AE59;
}

#blue{
    color: #5850FE;
}

#miniIcone{
    width: auto;
    
}

#textoComum{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: justify;
    margin-left: 10%;
    margin-top: -100px;

color: #898989;

}

 #desenhosvg{
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   z-index: -1;
} 

#desenhosvg svg{
    z-index: -1;
}