*{
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

:root{
  --azul:#5850FE;
  --verde:#38AE59;
  --branco:#F1F7FC;

}


body{
  background-color: #F1F7FC;
}

*::-webkit-scrollbar{
  height: .5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track{
  background-color: transparent;
}

*::-webkit-scrollbar-thumb{
  background-color: var(--azul);
}






